<% if @student.errors.any? %>
The form contains <%= pluralize(@student.errors.count, "error") %>
<ul>
	<% @student.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
</ul>
<% end %>